# DataScienceEcosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Listing popular languages for data science
* Demonstrating math functions in Python
* Displaying Data Science Tools

## Author

Isaiah Bomar

Some of the popular languages that Data Scientists use are:
1. Scala
1. Python
1. R

Many Data Scientists use libraries like:
1. Pandas
1. Numpy
1. Matplotlib
1. Pytorch

| Data Science Tools |
| ----------- |
| Jira |
| Azure |
| Gitlab |

### Here are a few examples of evaluating arithmetic expressions in Python:

This a simple arithmetic expression to mutiply then add integers

In [6]:
print ((3*4)+5)

17

This will convert 200 minutes to hours by diving by 60

In [7]:
print (200/60)

3.3333333333333335